.git
.gitignore
.idea
.vscode

node_modules
dist
coverage
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*

Frontend/node_modules
Frontend/dist
Frontend/.vite

Service/**/target
Service/**/build
Service/**/.idea
Service/**/.settings
Service/**/.classpath
Service/**/.project

Dockerfile*
docker-compose*.yml
